.header__container
  a(href=routes.home).header__column
    h1.service-title Anstagram 
  form.header__column
    input(type="text", placeholder="검색")
  nav.header__column
    ul
      li 
        a(href=routes.home)
          i.fas.fa-home
      if (!user)
        li
          a(href=routes.login)
            i.far.fa-user
      else
        li
          a(href=`/content${routes.upload}`)
            i.far.fa-plus-square
        li 
          a(href=`${routes.profile(user.id)}`)
            i.fas.fa-user
    .menu
      ul 
        if (user)
          li Logout
            a(href=routes.logout)