.header__container
  a(href=routes.home)
    h1 Anstagram 
  form
    input(type="text", placeholder="검색")
  nav 
    ul
      a(href=routes.home)
        li 
          i.fas.fa-home
      if (!user)
        a(href=routes.login)
          li
            i.far.fa-user
      else
        a(href=`/content${routes.upload}`)
          li
            i.far.fa-plus-square
        a(href=`${routes.profile(user.id)}`)
          li 
            i.fas.fa-user
    .menu
      ul 
        if (user)
          a(href=routes.logout)
            li Logout