extends ./templates/main.pug
include ./mixins/commentBox.pug

block content
  .content-detail
    article.content-detail__container
      .content-detail__pic
        img(src=`/${content.fileUrl}`)
      .content-detail__info
        .content-detail__creator
          .content-detail__column
            a(href="#")
              img(src=`/${content.creator.profileUrl}`)
            a(href="#")
              h5=content.creator.displayName 
            a(href="#").content-detail__follow 팔로우
          .content-detail__column
            a(href="#")
              i.fas.fa-ellipsis-h
        .content-detail__text 
          .content-detail__description
            div
              a(href="#")
                img(src=`/${content.creator.profileUrl}`)
            div    
              a(href="#")=content.creator.displayName
              p=content.description
          each comment in content.comment 
            +commentBox({
              text: comment.text,
            })
        .content-detail__etc
          div
            i.far.fa-heart.heart-btn.jsHeartBtn 
            i.far.fa-comment-alt
          div 
            p.content-detail__like-person dddddddd
        .content-detail__comment
          form.add-commnet.jsAddComment
            input(type="text", name="comment", placeholder="댓글 달기...", required=true class="jsTextInput")
            input(type="submit")
        
          




      .menu 
        ul 
            a(href=routes.editContent(content.id))
              li 게시물 수정
            a(href=routes.deleteContent(content.id))
              li 게시물 삭제
