extends ./templates/main.pug
include ./mixins/gridContent.pug


block content
  .profile
    .profile-card 
      .profile-card__column
        img.profile-card__image(src=`/${user.profileUrl}`)
      .profile-card__column 
        .profile-card__title
          h3=user.displayName
          a(href=routes.editProfile(user.id)) 프로필 편집
        .profile-card__values
          .profile-card__value.profile-card__value-content
            h6 게시물
            span=user.content.length
          .profile-card__value.profile-card__value-follow 
            h6 팔로우
            span=user.follow.length
          .profile-card__value.profile-card__value-follower
            h6 팔로워
            span=user.follower.length
        .profile-card__description 
          h5.profile-card__name=user.name 
          p 안녕하세요!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati rem quis enim quae pariatur aliquam ducimus soluta eius ratione temporibus. Hic maxime assumenda dicta ipsa nihil non totam enim amet.
    .profile-grid
      each item in user.content
        +gridContent({
          fileUrl: item.fileUrl
        })