extends ./templates/main.pug

block content
  .form-container
    .form-content
      h2 #{formTitle}
      form(action=`/users${routes.editMe}`, method="post", enctype="multipart/form-data", class="jsTextareaForm")
        span=user.email
        label(for="profileUrl", class="jsFileLabel") 프로필 사진 선택
        input(type="file", name="profileUrl", id="profileUrl", accept="image/*", class="jsProfileInput")
        input(type="text", name="displayName", placeholder="사용자 이름", required=true, value=user.displayName)
        input(type="text", name="name", placeholder="이름" value=user.name)
        textarea(placeholder="소개글", name="description")=user.description
        input(type="submit", value="업로드")
      .form__info
        p 회원 탈퇴를 원하시나요?
        a(href=routes.deleteId(user.id)) 탈퇴하기