extends ./templates/main.pug
include ./mixins/contentCard
include ./mixins/recommendCard

block content
  .home
    .content-cards 
      each item in content
        +contentCard({
          creator: {
            profileUrl: item.creator.profileUrl,
            displayName: item.creator.displayName,
            id: item.creator.id,
          },
          id: item.id,
          fileUrl: item.fileUrl,
          description: item.description,
        })
    if loggedUser && randomUser.length !== 0
      nav.home__nav 
        .home__my-profile 
          .home__my-img
            a(href=`/users${routes.me}`)
              img(src=loggedUser.profileUrl)
          .home__my-info
            a(href=`/users${routes.me}`)
              h5=loggedUser.displayName 
            span=loggedUser.name 
        h4 회원님을 위한 추천
        .home__recommend
          each user in randomUser 
            +recommendCard({
              profileUrl: user.profileUrl,
              displayName: user.displayName,
              id: user.id
            })
        