extends ./templates/main.pug

block content
  .form-container
    .form-content
      h2 #{formTitle}
      form(action=routes.join, method="post", enctype="multipart/form-data")
        label(for="profileUrl", class="jsFileLabel") 프로필 사진 선택
        input(type="file", name="profileUrl", id="profileUrl", accept="image/*", class="jsProfileInput")
        input(type="email", name="email", placeholder="이메일 계정", required=true, )
        input(type="text", name="displayName", placeholder="사용자 이름", required=true)
        input(type="text", name="name", placeholder="이름", required=true)
        input(type="password", name="password1", placeholder="비밀번호 (8 ~ 16자)", required=true, minlength=8, maxlength=16)
        input(type="password", name="password2", placeholder="비밀번호 확인", required=true, minlength=8, maxlength=16)
        input(type="submit", value="회원가입")
      .social-login-container.displayNone
        .social-login.social-login--google
          span 구글로 시작하기
        .social-login.social-login--kakao
          span 카카오로 시작하기
      .form__info
        p 이미 가입하셨나요?
        a(href=routes.login) 로그인하기
