mixin contentCard(content={})
  .content-card 
    .content-card__header 
      .content-card__creator
        a(href=routes.profile(content.creator.id))
          img.content-card__creator-img(src=content.creator.profileUrl)
        a(href=routes.profile(content.creator.id))
          h5.content-card__creator-name=content.creator.displayName
      div
        i.fas.fa-ellipsis-h.jsModalShow
    .content-card__img-box
      img.content-card__content-img.jsContentImg(src=content.fileUrl) 
    .content-card__info 
      .content-card__icons
        i.far.fa-heart.heart-btn.jsHeartBtn
        a(href=routes.contentDetail(content.id))
          i.far.fa-comment-alt.jsComment
      .content-card__description 
        a(href=routes.profile(content.creator.id))
          h6=content.creator.displayName 
        p=content.description
    .modal.content-card__modal.modal-hidden.jsModalBox
      ul.modal__list 
        if loggedUser && loggedUser.id === content.creator.id
          a(href=routes.contentDetail(content.id))
            li 게시물 이동
          a(href=routes.editContent(content.id))
            li 게시물 수정
          li.modal__impact 게시물 삭제
          li.modal__close.jsModalClose 취소
        else 
          a(href=routes.contentDetail(content.id))
            li 게시물 이동
          li.modal__close.jsModalClose 취소