mixin contentCard(content={})
  .content-card 
    .content-card__header 
      .content-card__creator
        a(href=routes.profile(content.creator.id))
          img.content-card__creator-img(src=`/${content.creator.profileUrl}`)
        a(href=routes.profile(content.creator.id))
          h5.content-card__creator-name=content.creator.displayName
      div
        i.fas.fa-ellipsis-h
    .content-card__img-box
      img.content-card__content-img.jsContentImg(src=`/${content.fileUrl}`) 
    .content-card__info 
      .content-card__icons
        i.far.fa-heart.heart-btn.jsHeartBtn
        i.far.fa-comment-alt.jsComment
      .content-card__description 
        a(href=routes.profile(content.creator.id))
          h6=content.creator.displayName 
        p=content.description
    .content-card__comment 
      form(action="#", method="post")
        input(type="text", placeholder="댓글 달기...")
        input(type="submit", value="게시")